// bower:scss
// endbower
$standard-orange: #f18202;
$standard-red: #ed7161;


* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

input {
    width: 246px;
    height: 32px;
    font-size: 16px;
    padding: 0px 10px;
    &.error {
        border: 2px solid $standard-red;
        outline:none;
        color: $standard-red;
    }
}

.btn {
    background-color: $standard-orange;
    line-height: 30px;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    padding: 6px 20px;
    display: inline-block;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.error {
    color: $standard-red;
}

.header {
    padding: 16px 10px;
    text-align: center;
    .icon-logo {
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        height: 60px;
        width: 273px;
        display: inline-block;
    }
}

.footer {
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}
.open-account {
    height: 340px;
    text-align: center;
    .step1 {
        margin-top: 10px;
        p {
            font-size: 18px;
        }
        .strong {
            color: $standard-orange;
            font-size: 26px;
            margin-top: 3px;
        }
        .form {
            input {
                margin-top: 10px;
            }
            .btn {
                margin-bottom: 15px;
            }
            p.error {
                display: block;
                height: 30px;
                line-height: 30px;
                margin-top: 10px;
            }
            p.tip {
                font-size: 10px;
            }
        }
    }
    .step2 {
        display: none;
        margin-top: 20px;
        .title {
            font-size: 20px;
            margin-bottom: 30px;
        }
        p {
            font-size: 14px;
            line-height: 30px;
        }
    }
}

